@model Autoservice.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<section class="login container">

    <h1 class="form-title">Детали заказа @Html.DisplayFor(model => model.id)</h1>

    <div>
        <p><strong class="book__feature">@Html.DisplayNameFor(model => model.date):</strong><span>@Html.DisplayFor(model => model.date)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.sum):</strong><span>@Html.DisplayFor(m => m.sum)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.status):</strong><span>@Html.DisplayFor(m => m.status)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Clients.name):</strong><span>@Html.DisplayFor(m => m.Clients.name)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Employees.name):</strong><span>@Html.DisplayFor(m => m.Employees.name)</span></p>
        <a href="~/Order_service/Details/@Model.id">Услуги</a>

    </div>
    <div>
        <a class="admin__btn" asp-action="Edit" asp-route-id="@Model?.id">Редактировать</a>
        <a class="form-link" asp-action="Index">Вернуться</a>
    </div>

</section>
